
.blog-pagination {
    margin-top: 80px;
}
.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px;
}
.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px;
}
.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888;
}
.blog-pagination .page-item:last-child .page-link {
    margin-right: 0;
}
.subheading {
    font-size: 50px;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
    font-family: 'Teko', sans-serif;
}
.home-blog-area .home-blog-single .blog-caption .blog-date {
    background: #f5f5f5;
    padding: 14px 19px;
    display: block;
    float: left;
    overflow: hidden;
    border-radius: 6px;
}
.home-blog-area .home-blog-single .blog-caption .blog-date span {
    color: #f15f22;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}
.home-blog-area .home-blog-single .blog-img {
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 30px
}
.home-blog-area .home-blog-single .blog-caption .blog-date p {
    color: #111111;
    margin: 0;
    font-size: 14px;
    line-height: 1.1;
}
.home-blog-area .home-blog-single .blog-caption .blog-cap {
    margin-left: 100px;
}
.home-blog-area .home-blog-single .blog-caption .blog-cap ul li {
    display: inline-block;
    padding-right: 40px;
}
.home-blog-area .home-blog-single .blog-caption .blog-cap ul li a {
    color: #717b9b;
    font-size: 13px;
}
.home-blog-area .home-blog-single .blog-caption .blog-cap ul li a i {
    padding-right: 10px;
}
[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.blog-text {
    font-family: "Teko", sans-serif;
    color: #2c234d;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
}
.blog-text a {
    text-decoration: none;
    color: inherit;
  }
  .blog-text a:focus {
    outline: none;
  }